{% extends "base/base.html" %}

{% block title %}
{% endblock  %}

{% block head %}
    {{ super() }}
{% endblock  %}

{% block navbar %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="{{ url_for('index') }}" class="navbar-brand">Flask-StartUp-Kit!!!</a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navmenu"
                aria-controls="navmenu"
                aria-expanded="false"
                aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
                <a class="nav-item nav-link" href="{{ url_for('signin') }}">SignIn</a>
                <a class="nav-item nav-link" href="{{ url_for('signup') }}">SignUp</a>
                <a class="nav-item nav-link" href="{{ url_for('signout') }}">SignOut</a>
                {% if username %}
                    <span class="navbar-text">{{ username }}</span>
                {% else %}
                    <span class="navbar-text">Guest</span>
                {% endif  %}
            </div>
        </div>
    </nav>
{% endblock  %}

{% block content %}
<div class="container">
    <div class="d-flex my-box-light" style="height:80vh;">
        <div class="my-box align-self-center flex-fill">
            <h5 class="text-center">{{ code }}: {{ message }}</h5>
            <p class="text-center">{{ error_message }}</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock  %}